# Covid file scrubbing

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
covid19_data_to_load = "Data/covid19_data.csv"

# Read School and Student Data File and store into Pandas Data Frames
#covid19_data = pd.read_csv(swineflu_data_to_load, encoding=”ISO-8859–1”)
covid19_data = pd.read_csv(covid19_data_to_load, encoding="ISO-8859-1")

In [3]:
covid19_data

     Pandemic       Date      Country  Cases  Deaths
0     covid19  2/24/2020  Afghanistan      1       0
1     covid19  2/25/2020  Afghanistan      1       0
2     covid19  2/26/2020  Afghanistan      1       0
3     covid19  2/27/2020  Afghanistan      1       0
4     covid19  2/28/2020  Afghanistan      1       0
...       ...        ...          ...    ...     ...
8504      NaN  3/20/2020     Zimbabwe      1       0
8505      NaN  3/21/2020     Zimbabwe      3       0
8506      NaN  3/22/2020     Zimbabwe      3       0
8507      NaN  3/23/2020     Zimbabwe      3       1
8508      NaN  3/24/2020     Zimbabwe      3       1

[8509 rows x 5 columns]

In [5]:
# Add year column to dataframe
covid19_data['Year'] = pd.DatetimeIndex(covid19_data['Date']).year
covid19_data

     Pandemic       Date      Country  Cases  Deaths  Year
0     covid19  2/24/2020  Afghanistan      1       0  2020
1     covid19  2/25/2020  Afghanistan      1       0  2020
2     covid19  2/26/2020  Afghanistan      1       0  2020
3     covid19  2/27/2020  Afghanistan      1       0  2020
4     covid19  2/28/2020  Afghanistan      1       0  2020
...       ...        ...          ...    ...     ...   ...
8504      NaN  3/20/2020     Zimbabwe      1       0  2020
8505      NaN  3/21/2020     Zimbabwe      3       0  2020
8506      NaN  3/22/2020     Zimbabwe      3       0  2020
8507      NaN  3/23/2020     Zimbabwe      3       1  2020
8508      NaN  3/24/2020     Zimbabwe      3       1  2020

[8509 rows x 6 columns]

In [30]:
# Group by country and year (I think there's only one year, but just in case...)
covid19_data_1 = covid19_data.groupby(["Pandemic","Country", "Year"], as_index = False).agg(
    {
        'Cases':'sum',    
        'Deaths': 'sum'
    }
)

covid19_data_1

   Pandemic              Country  Year  Cases  Deaths
0   covid19          Afghanistan  2020    363       3
1   covid19              Albania  2020    851      26
2   covid19              Algeria  2020   1485     113
3   covid19              Andorra  2020    720       3
4   covid19               Angola  2020     11       0
5   covid19  Antigua and Barbuda  2020     16       0
6   covid19            Argentina  2020   1707      41
7   covid19              Armenia  2020   1370       0
8   covid19                Aruba  2020     19       0
9   covid19            Australia  2020  11286      93
10  covid19              Austria  2020  27808      99
11  covid19           Azerbaijan  2020    574      12
12  covid19              Bahamas  2020     23       0
13  covid19              Bahrain  2020   4526      13
14  covid19           Bangladesh  2020    219      14
15  covid19             Barbados  2020     69       0
16  covid19              Belarus  2020    709       0
17  covid19              Belgium  2020      6       0

In [31]:
covid19_data_1 = covid19_data_1

In [32]:
covid19_data_1.columns

Index(['Pandemic', 'Country', 'Year', 'Cases', 'Deaths'], dtype='object')

In [33]:
# File to Load (Remember to Change These)
country_centroid_to_load = "Data/country_centroids_az8.csv"

# Read School and Student Data File and store into Pandas Data Frames
#swineflu_data = pd.read_csv(swineflu_data_to_load, encoding=”ISO-8859–1”)
country_centroid = pd.read_csv(country_centroid_to_load, encoding="ISO-8859-1")


country_centroid

,FID,the_geom,FID_,scalerank,featurecla,labelrank,sovereignt,sov_a3,adm0_dif,level,...,region_un,subregion,region_wb,name_len,long_len,abbrev_len,tiny,homepart,Longitude,Latitude
0,country_centroids_az8.1,POINT (-69.9826771125 12.5208803838),0,3,Admin-0 country,5,Netherlands,NL1,1,2,...,Americas,Caribbean,Latin America & Caribbean,5,5,5,4,-99,-69.982677,12.520880
1,country_centroids_az8.2,POINT (66.0047336558 33.8352307278),1,1,Admin-0 country,3,Afghanistan,AFG,0,2,...,Asia,Southern Asia,South Asia,11,11,4,-99,1,66.004734,33.835231
2,country_centroids_az8.3,POINT (17.5373676815 -12.2933605438),2,1,Admin-0 country,3,Angola,AGO,0,2,...,Africa,Middle Africa,Sub-Saharan Africa,6,6,4,-99,1,17.537368,-12.293361
3,country_centroids_az8.4,POINT (-63.0649892654 18.2239595023),3,1,Admin-0 country,6,United Kingdom,GB1,1,2,...,Americas,Caribbean,Latin America & Caribbean,8,8,4,-99,-99,-63.064989,18.223959
4,country_centroids_az8.5,POINT (20.0498339611 41.1424498947),4,1,Admin-0 country,6,Albania,ALB,0,2,...,Europe,Southern Europe,Europe & Central Asia,7,7,4,-99,1,20.049834,41.142450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,country_centroids_az8.237,POINT (-172.16485064 -13.7532434638),236,1,Admin-0 country,4,Samoa,WSM,0,2,...,Oceania,Polynesia,East Asia & Pacific,5,5,5,-99,1,-172.164851,-13.753243
237,country_centroids_az8.238,POINT (47.5867618877 15.9092800505),237,1,Admin-0 country,3,Yemen,YEM,0,2,...,Asia,Western Asia,Middle East & North Africa,5,5,4,-99,1,47.586762,15.909280
238,country_centroids_az8.239,POINT (25.0839009251 -29.0003409534),238,1,Admin-0 country,2,South Africa,ZAF,0,2,...,Africa,Southern Africa,Sub-Saharan Africa,12,12,5,-99,1,25.083901,-29.000341
239,country_centroids_az8.240,POINT (27.7747594637 -13.4582415186),239,1,Admin-0 country,3,Zambia,ZMB,0,2,...,Africa,Eastern Africa,Sub-Saharan Africa,6,6,6,-99,1,27.774759,-13.458242
240,country_centroids_az8.241,POINT (29.8514412019 -19.0042041882),240,1,Admin-0 country,3,Zimbabwe,ZWE,0,2,...,Africa,Eastern Africa,Sub-Saharan Africa,8,8,5,-99,1,29.851441,-19.004204

In [34]:
clean_country = country_centroid[["sovereignt","Longitude","Latitude"]].rename (columns={"sovereignt":"Country","Longitude":"lon","Latitude":"lat"}, errors="raise")

In [35]:
clean_country.columns

Index(['Country', 'lon', 'lat'], dtype='object')

In [36]:
merged_covid_df = pd.merge(covid19_data_1, clean_country, how='left', on=["Country", "Country"])

In [37]:
merged_covid_df

   Pandemic              Country  Year  Cases  Deaths         lon        lat
0   covid19          Afghanistan  2020    363       3   66.004734  33.835231
1   covid19              Albania  2020    851      26   20.049834  41.142450
2   covid19              Algeria  2020   1485     113    2.617323  28.158938
3   covid19              Andorra  2020    720       3    1.560544  42.542291
4   covid19               Angola  2020     11       0   17.537368 -12.293361
5   covid19  Antigua and Barbuda  2020     16       0  -61.794693  17.277500
6   covid19            Argentina  2020   1707      41  -65.179807 -35.381349
7   covid19              Armenia  2020   1370       0   44.929933  40.289526
8   covid19                Aruba  2020     19       0         NaN        NaN
9   covid19            Australia  2020  11286      93  123.583838 -12.429932
10  covid19            Australia  2020  11286      93  134.491000 -25.732887
11  covid19            Australia  2020  11286      93   73.520517 -53.087247
12  covid19            Australia  2020  11286      93  104.851898 -10.647851
13  covid19            Australia  2020  11286      93  167.949217 -29.051461
14  covid19              Austria  2020  27808      99   14.126476  47.585494
15  covid19           Azerbaijan  2020    574      12   47.545999  40.288272
16  covid19              Bahamas  2020     23       0         NaN        NaN
17  covid19              Bahrain  2020   4526      13   50.541969  26.042051
18  covid19           Bangladesh  2020    219      14   90.238127  23.867312
19  covid19             Barbados  2020     69       0  -59.559797  13.181454
20  covid19              Belarus  2020    709       0   28.032093  53.531314
21  covid19              Belgium  2020      6       0    4.640651  50.639816

In [38]:
merged_covid_df.isnull().count()

Pandemic    22
Country     22
Year        22
Cases       22
Deaths      22
lon         22
lat         22
dtype: int64

## Send this to sql lite Create database connection

In [40]:
merged_covid_df.tosqlite("covid19_data.sql")

AttributeError: 'DataFrame' object has no attribute 'tosqlite'